<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <nav role="navigation"><%- include('./partials/header'); %></nav>

  <body>
    <h1>TEST</h1>
  </body>
</html>
