<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <nav role="navigation"><%- include('./partials/header'); %></nav>
  <body>
    <h1>Je bent offline</h1>

    <%- include('./partials/footer'); %>
  </body>
</html>
