<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>

  <nav role="navigation"><%- include('./partials/header'); %></nav>

  <body class="offline-body">
    <section class="offline-section">
      <h1>OOOPS</h1>
      <h3>Currently you cannot view this page offline</h3>
      <a href="/">GO TO HOMEPAGE</a>
    </section>

  <%- include('./partials/footer'); %>
  </body>
</html>
