.news-container {
  padding: 0rem 1rem 3rem;
}

.news-container.first article {
  border-top: none;
  padding: 2rem 0 0;
}

.news-container article {
  /* padding: 2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */

  padding: 4rem 0 0;
  border-top: 3px solid #00477b;
}

.news-container article h2 {
  color: #00477b;
  padding-bottom: 2rem;
  font-size: 1.4rem;
}

.home .image-container div {
  position: relative;
}
.home .image-container div span {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 98.1%;
}

.news-container article img {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

.news-container article p {
  font-size: 1rem;
  padding-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 0.1px;
}

/* OFFLINE  */
.offline-body {
  background-color: #002f51;
  color: #fff;
  display: flex;
  align-items: center;
}

.offline-section {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  align-items: center;

}

.offline-section h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
}

.offline-section h3 {
  font-weight: 300;
  padding-bottom: 3rem;
}

.offline-section a {
  color: white;
}
